.alt-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px var(--horizontal-space);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 25px;
}
.alt-screen-header__component {
  width: 33%;
}
.alt-screen-header__chevron {
  color: black;
}
.alt-screen-header__title {
  font-size: 22px;
  font-weight: 700;
}
.alt-screen-header__component:nth-child(2) {
  display: flex;
  justify-content: center;
}
.alt-screen-header__component:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.alt-screen-header__component:last-child i {
  margin-left: 20px;
}
