.hashtag-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  top: 26px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: white;
}
.hashtag-header__link {
  text-decoration: none;
  color: #2e363e;
  opacity: 0.5;
  font-weight: bold;
  font-size: 25px;
}
