.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  display: flex;
  color: white;
  background-color: tomato;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 13px;
  bottom: 10px;
}
.nav__dot {
  display: flex;
  width: 4px;
  height: 4px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  bottom: 18px;
}
